# npm
node_modules/ export-ignore

# VS Code extension files
.vscode/ export-ignore
vscode/ export-ignore
.vscodeignore export-ignore
build-vsix.bat export-ignore
build-vsix.sh export-ignore
language-configuration.json export-ignore
package.json export-ignore
package-lock.json export-ignore
tsconfig.json export-ignore
CHANGELOG.md export-ignore

# SublimeKSP compiler test runners
run-tests.bat export-ignore
run-tests.sh export-ignore