[submodule "compiler/_IVLS"]
	path = compiler/_IVLS
	url = https://gitlab.com/isworks-official/ivls-sdk.git

[submodule "compiler/ivls-cli"]
    path = compiler/ivls-cli
    url = https://gitlab.com/isworks-official/ivls-cli.git
