# repository, npm and VS Code settings files
.github/**
.vscode/**
.vscode-test/**
dev/**
node_modules/**
.gitignore
.gitattributes
**/*.ts

# Sublime Text extension files
*.sublime-color-scheme
*.sublime-commands
*.sublime-keymap
*.sublime-menu
*.sublime-settings
*.sublime-syntax
*.sublime-theme
*.tmPreferences
file_icon/*.tmPreferences
file_icon/*.sublime-theme
messages/**
snippets/*.sublime-snippet
sounds/**
dependencies.json
ksp_plugin.py
messages.json
tsconfig.json

# SublimeKSP compiler test runners and VS Code extension build script
run-tests.bat
run-tests.sh
build-vsix.bat
build-vsix.sh